.settings {
    display: flex;
    width: 100%;

    /* Fix box model for elements since Tailwind preflight is off */
    *, *::before, *::after {
        box-sizing: border-box;
    }

    .settingsContainer {
        flex: 6;
    }
}