.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 14px;
  margin-top: 50px;
}

.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fList {
  padding: 0;
}

.fListItem {
  margin-bottom: 10px;
  color: var(--primary-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

.fListItem:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.fText {
  text-align: center;
  color: var(--gray);
  margin-bottom: 20px;
  font-size: 0.9rem;
}